.App {
  height: 100%;
  width: 100%;
  padding: 1rem 0rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-score {
  font-weight: 500;
  text-shadow: 1px 1px 2px;
  color: purple;
  margin-bottom: 1.5rem;
}

.main-container {
  border-radius: 7px;
  background-color: rgb(153, 234, 164);
  box-shadow: 1px 2px 10px 2px;
  padding: 1rem 2rem;
  width: 50%;
}

.q {
  background-color: #313131;
  color: whitesmoke;
  font-weight: bolder;
  padding: 0.5rem;
}

h3 {
  font-size: larger;
  color: rgb(4, 4, 186);
}

.ans {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.ans-btn {
  padding: .4rem;
  font-size: large;
  border-radius: .5rem;
  cursor: pointer;
  background-color: rgb(255, 244, 122);
  box-shadow: 1px 1px 1px;
}

.correct-ans-show {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 142, 14);
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem;
}


/****************AFTER QUIZ COMPLETE********************/

.total-score {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px;
  color: rgb(13, 0, 255);
}

.wrong-ans {
  color: red;
}

ul {
  list-style: none;
  background-color: rgb(241, 255, 203);
  align-items: center;
  padding: 1rem 1rem;
  margin-right: 1rem;
  border-radius: 5px;
}

.correct-ans {
  color: green;
}

.reset-btn {
  background-color: purple;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: .5rem 1rem;
}